[submodule "bundle/syntastic"]
	path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
    ignore = dirty
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
    ignore = dirty
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
